/*-------Global---------*/
* {
    box-sizing: border-box;
}

html {
    font-family: 'MontRegular', sans-serif;
    font-size: 14px;
    text-transform:initial;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'MontRegular', sans-serif;
}

a {
    color: black;
}
a:visited {
    color:black;
}  


.hr {
    margin: 2px;
    height: 3px;
}

textarea, input {
    font-family: 'MontRegular', sans-serif;
    
}