

.container {
    max-width: 1150px;
    /* margin: 0 auto; */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.tmpPlace{
    background-color: #dcbebe;
}

.marker-details {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s ease-in, top .5s ease-in;
    background-color: red;
}

.place-edit input:focus {
    outline: none;
}

header{
    color: black;
    text-align: center;
    height: 80px;
    margin-top: 10px;
    border-bottom: 5px solid;
 }

 header img{
     width:60px;
     height: auto;
 }

 .place-edit h1 {
     color: #00d1b2;
 }
 .router-view{
     margin-top: 30px;
     margin-right: 40px;
 }

 .menu-btn div{
     margin-left: 20px;
}

.menu-btn a:hover {
    color: #00d1b2;
    text-decoration: underline;
 }

 .delete-btn:hover {
     color: #00d1b2;
     cursor: pointer;
 }

 .app-name {
    font-family: 'MontBold', sans-serif;
    font-size: 50px; 
 }

 .email{
     flex-direction: column;
     margin-right: 0;
 }

 .place-app {
     position: relative;
 }

 .close-detail-btn {
    display: block;
}

.email-container{
    height: 60vh;
}

.compose-btns {
    margin-top: 20px;
}

.unread{
    font-family: 'MontBold', sans-serif;
}

.textarea {
    margin-top: 20px;
    height: 45vh
}

.map{
    height: 100vh;
}

.email-preview {
    padding: 10px;
}
.place-search{
    position: absolute;
    top: 0;
    right: 10px;
}

.place-item {
    border-top: 3px solid #dadbdb;
}


.place-list {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    color: black;
    border: 3px solid #dadbdb
}

.compose-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* left: auto; */
}

.left-side{
    width: 100%;
    margin-bottom: 10px;
}

.display-none {
    display: none;
}

.ctrl-bar {
    height: 90px;
}


/****** radio btn ***********/
.email-filter input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  
  .email-filter label {
    color: #00d1b2; /* 40% */
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
  }
  
  .email-filter input[type=radio]:checked + label{
    color: black; /* 60% */
    /* background-color: #00d1b2; */
    background: #00d1b2;
  }
  
  .email-filter label + .email-filter input[type=radio] + .email-filter label {
    border-left: solid 3px #332f35;
  }
  .email-filter .radio-group {
    border: solid 3px #00d1b2;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
  }

