@import './base.css';
@import './helpers.css';
@import './toggle-btn.css';
@import './user-msg.css';

.gothic {
    font-family: 'Gothic';
}
.container {
    max-width: 1050px;
    /* margin: 0 auto; */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

header{
    background-color: lightblue;
    background-image: url(../img/appsusLogo.jpg);
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
 }

 .email-list {
     overflow: hidden;
 }

 .email-list.horizontal {
     height: 50vh;
 }

 .email-list.vertical {
    width: 50vw;
}

.unread{
    font-weight:bold;
}
